body[data-layout=detached] #layout-wrapper::before {
    background: linear-gradient(to right,#6f664c,#342a0b); 

}

ul{
    list-style: none;
}
.btn-primary,
.btn-primary{
    background-color: #e0c77a!important;
    border-color: #725c17b0!important;
}

.btn-primary:hover{
    background-color: #342a0b;
}

.active>.page-link, .page-link.active { 
    background-color: #e0c77a;
    border-color: #e0c77a;
} 
.pagination-wrapper .pagination {
    justify-content: center!important;
}
.mm-active>i,
.mm-active,
.mm-active>a i,
.mm-active>a,
.mm-active .active i,
.mm-active .active{
    color: #e0c77a!important;
}

.bg-login-overlay{
    background: linear-gradient(to right,#e0c77a,#342a0b)!important;
}

.dropdown-item{
    cursor: pointer!important;
}