

input[type=checkbox]:checked::after,
.slider-dot-style--fill-white-active-green .slick-dots li.slick-active button,
.product__label--sale-out,
.cdown{
    background: #e0c77a!important;
}

.btn-success:hover,
.btn-success,
.material-scrolltop:hover,
.footer .footer__social-link:hover,
.btn--green,
.btn--black-hover-green:hover,
.product__action--link li a,
.btn--border-green-hover-green:hover,
.header__nav-item:hover .header__nav-link:after,
.header__user-action-icon li span,
.header-menu-vertical .menu-title{
    background-color: #e0c77a;
}


input[type=radio].shipping-select::after,
.header-menu-vertical .menu-content li a:hover,
.hero-slider__arrow:hover,
.sidebar__menu>li a:hover,
.page-breadcrumb__nav a:hover,
.footer__copyright-text a,
.footer__link:hover,
.newsletter__form-content button:hover,
.blog-feed__post-meta--link,
.tablist--style-blue .nav-link.active, 
.tablist--style-blue .nav-link:hover,
.product__price,
.btn--border-green,
.header__nav-item:hover .header__nav-link{
    color: #e0c77a;
}

.btn-success:hover,
.btn-success,
.btn--border-green,
.btn--border-green-hover-green:hover { 
    border-color: #e0c77a;
}

.header__logo a img{
    width: 90px;
}