
body{
  background-color: #e0c7790d!important;
}

.blog-feed__content{
  background-color: transparent;
}

.sidebar__menu-filter-list {
  display: flex;
  align-items: center;
}
.sidebar__menu-filter-list label{
  display: inline;
}
.main-container{
  padding-bottom: 100px;
}

.blog-feed__img-box img{
  height: 230px;
  object-fit: cover;
}

input[type=checkbox]:checked::after,
.slider-dot-style--fill-white-active-green .slick-dots li.slick-active button,
.product__label--sale-out,
.cdown{
    background: #e0c77a!important;
}

.btn-success:hover,
.btn-success,
.material-scrolltop:hover,
.footer .footer__social-link:hover,
.btn--green,
.btn--black-hover-green:hover,
.product__action--link li a,
.btn--border-green-hover-green:hover,
.header__nav-item:hover .header__nav-link:after,
.header__user-action-icon li span,
.header-menu-vertical .menu-title{
    background-color: #e0c77a;
}


input[type=radio].shipping-select::after,
.header-menu-vertical .menu-content li a:hover,
.hero-slider__arrow:hover,
.sidebar__menu>li a:hover,
.page-breadcrumb__nav a:hover,
.footer__copyright-text a,
.footer__link:hover,
.newsletter__form-content button:hover,
.blog-feed__post-meta--link,
.tablist--style-blue .nav-link.active, 
.tablist--style-blue .nav-link:hover,
.product__price,
.btn--border-green,
.header__nav-item:hover .header__nav-link{
    color: #e0c77a;
}

.btn-success:hover,
.btn-success,
.btn--border-green,
.btn--border-green-hover-green:hover { 
    border-color: #e0c77a;
}

.header__logo a img{
    width: 90px;
}

.bg-login-overlay{
  background: linear-gradient(to right,#e0c77a,#342a0b)!important;
}

.page-breadcrumb__menu{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
 
.custom-bg-ol{
  position: relative;
}

.custom-bg-ol:before{
  background-color: rgba(51, 41, 10, 0.476)!important;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} 

.page-breadcrumb__nav {
  display: inline; 
}
.spinner-container {
    width: 100%;
    height: 100%;
    z-index: 99999;
    text-align: center;
  }
  .spinner {
    margin: auto;
    border: 2px solid #dbf2ff; 
    /*
    change to dotted for something cool.
    change width to 1px for tapered bar
    */
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border-right: 2px solid #018df7;
    text-align:center;
    animation-name: spin;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    /*animation-timing-function: linear; /*linear spin */
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    /*50% {width:24px;height:24px} /*shrinking effect*/
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
   /*50% {width:24px;height:24px} /*shrinking effect*/
    100% { -webkit-transform: rotate(360deg); }
  }

/* Extra small devices (portrait phones, less than 576px) XS */
@media(min-width: 320px) and (max-width: 767px) {
  .header__logo-img, .header__mobile-logo-img{
    width: 70px;
  }
  .product.m-t-100{
    margin-top: 40px!important;
  }
  .custom-img-cls .product__img--link img{
    width: 70px!important;
  }
  .product__catagory--single{
    margin-bottom: 1rem;
  }
  .product__img-box.product__img-box--catagory{
    text-align: right;
  }
  .product__content--catagory{
    padding-top: 0;
    padding-bottom: 0;
  }
  .product__img-box .product__img--link img{
    width: 120px;
  }
  .product__box{
    margin-bottom: 1rem;
  }
  .page-breadcrumb{
    padding: 2rem 0;
  }
  .cms__title,
  .cms__icon{
    text-align: center;
  }
  .product__catagory--single { 
    min-height: 80px;
    border-top: 1px solid #ebebeb; 
    border-left: 1px solid #ebebeb;
  }
  .product__catagory {
    overflow: hidden;
    border-left: 0px solid #ebebeb;
    border-top: 0px solid #ebebeb;
  }
}